[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
matplotlib = "*"
django-crispy-forms = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
"boto3" = "*"
django-storages = "*"
celery = {extras = ["redis"]}
flower = "*"


[dev-packages]

"flake8" = "*"
isort = "*"
"autopep8" = "*"
autoflake = "*"


[requires]

python_version = "3.6"
