{% extends 'base.html' %}
{% load configuration_tags %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Handling Long Running Computations</h1>
            <p class="lead text-muted">The fractals below are created based on user defined configurations. The
                computation takes long in a web application terms. The purpose of this app is to demonstrate how to
                handle the computations.</p>
            <p>
                <a href="{% url 'configuration-create' %}" class="btn btn-primary my-2">New Configuration</a>
                <a href="{% url 'configuration-list' %}" class="btn btn-secondary my-2">All Configurations</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for config in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ config | fractal_url }}">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ config.get_absolute_url }}"
                                           class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
